<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <link rel="stylesheet" type="text/css" href="/static/example.css"/>
</head>
<body>

<script>
{% if refresh_person %}
    refresh_person = true;
{% else %}
    refresh_person = false;
{% endif %}

{% if refresh_adjective%}
    refresh_adjective = true;
{% else %}
    refresh_adjective = false;
{% endif %}
</script>

<div class="outer">
    <div class="middle">
        <div class="inner">
            <div id="child"><span id="person">{{person}}</span> <span id="adjective">{{adjective}}</span></div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
<script>
setInterval(function(){
    var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function(){
        if (xhr.readyState == XMLHttpRequest.DONE) {
            var data = JSON.parse(xhr.responseText);

            if(refresh_person)
                $('#person').text(data['person']);

            if(refresh_adjective)
                $('#adjective').text(data['adjective']);
        }
    }
    xhr.open('GET', '/json', true);
    xhr.send(null);
},2000)

</script>
</body>
</html>