body{
    background-color: #EEE;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
    font-size: 70px;
}